<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <!--
      _____________________________________________________________
      _____________________________________________________________
      ______________________###############________________________
      __________________##___________________##____________________
      _______________##_________________________##_________________
      _____________##_________#####__________#_____##______________
      ___________##____________#_###________#________##____________
      __________##____________#___###______#__________##___________
      _________###___________#___###______#___________###__________
      _________###__________#____________#____________###__________
      _________###_________#_________####_____________###__________
      __________##_____####_________####______________##___________
      ___________##___####__________________________##_____________
      _____________##_____________________________##_______________
      _______________##_________________________##_________________
      __________________##___________________##____________________
      ______________________###############________________________
      _____________________________________________________________
     -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    />
    <title>unit-testing</title>
  </head>
  <body>
    <noscript>
      <strong>
        We're sorry but unit-testing doesn't work properly without JavaScript
        enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
