<template>
  <div
    class="container"
    id="container"
    style="display: flex; flex-direction: column;  height: 100%"
  >
    <label for="">name</label><input type="text" name="name" id="name" />
    <label for="status">status</label
    ><input type="text" name="stauts" id="status" />
    <label for="cateNumber">carte number</label
    ><input type="text" name="carteNumber" id="carteNumber" />
    <button @click="saveForm()">save</button>
    <!-- <div id="example-3" v-if="count >= 0">
      <transition
        name="custom-classes-transition"
        leave-active-class="animated fadeOutDown"
        enter-active-class="animated fadeInDown"
      >
        <p class="counter" v-if="show">{{ count }}</p>
      </transition>
    </div>
    <div v-else class="img-container">
      <h1>Joyeux Anniversaire Ben !</h1>
      <img
        class="img"
        alt="joyeux anniversiare Ben !"
        src="https://media.giphy.com/media/tDaB4sb0Wti5a/giphy.gif"
      />
    </div> -->
    <Counter :value="6" />
    <label for="">name</label><input type="text" name="name" id="name" />
    <label for="status">status</label
    ><input type="text" name="stauts" id="status" />
    <label for="cateNumber">carte number</label
    ><input type="text" name="carteNumber" id="carteNumber" />
    <button @click="saveForm()">save</button>

    <Counter :value="6" />
    <label for="">name</label><input type="text" name="name" id="name" />
    <label for="status">status</label
    ><input type="text" name="stauts" id="status" />
    <label for="cateNumber">carte number</label
    ><input type="text" name="carteNumber" id="carteNumber" />
    <button @click="saveForm()">save</button>
    <Counter :value="6" />
    <label for="">name</label><input type="text" name="name" id="name" />
    <label for="status">status</label
    ><input type="text" name="stauts" id="status" />
    <label for="cateNumber">carte number</label
    ><input type="text" name="carteNumber" id="carteNumber" />
    <button @click="saveForm()">save</button>

    <Counter :value="6" />
    <label for="">name</label><input type="text" name="name" id="name" />
    <label for="status">status</label
    ><input type="text" name="stauts" id="status" />
    <label for="cateNumber">carte number</label
    ><input type="text" name="carteNumber" id="carteNumber" />
    <button @click="saveForm()">save</button>
  </div>
</template>

<script>
// @ is an alias to /src
// import { Howl } from 'howler';
// import JsPDF from 'jspdf';
// import html2canvas from 'html2canvas';
// import Api2Pdf from 'api2pdf';

// import * as rasterizeHTML from 'rasterizehtml';
import Counter from '@/components/Counter.vue';

// const a2pClient = new Api2Pdf('23737cae-3ef3-4016-9c92-bffe492cae3e');
// window.html2canvas = html2canvas;
// const link = require('../../sound.mp3');

export default {
  name: 'home',
  components: {
    Counter,
  },
  data() {
    return {
      show: false,
      count: 11,
      intervalId: () => null,
    };
  },
  methods: {
    myEvent() {
      return true;
    },
    saveForm() {
      /* const options = { orientation: 'landscape', pageSize: 'A4' };
      a2pClient
        // eslint-disable-next-line prefer-template
        .headlessChromeFromHtml(
          document.body.outerHTML,
          true,
          'test.pdf',
          options,
        )
        .then((result) => {
          window.open(result.pdf);
          console.log(result);
        }); */
    },
  },
  mounted() {
    this.intervalId = setInterval(() => {
      this.show = !this.show;
      this.count = this.show ? this.count - 1 : this.count;
    }, 1000);
  },
  watch: {
    count(newValue) {
      if (newValue === 0) {
        /* const sound = new Howl({
          src: [link],
        }); */
        // sound.play();
      }
      if (newValue < 0) {
        clearInterval(this.intervalId);
      }
    },
  },
};
</script>
<style scoped="scss">
.img-container {
  width: 100%;
}
.img-container > img {
  width: 40%;
}
.img-container > h1 {
  font-size: 5em;
  color: #f33364;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.counter {
  font-size: 10em;
}
</style>
