<template>
  <div style="background: #F2B5C1; display: flex; flex-direction: column">
    <p>Hello</p>
    <p>I am a child Component</p>
    <div>
      <button @click="hideMe()">hide me</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'child-comp',
  methods: {
    hideMe() {
      this.$emit('customEvent');
    },
  },
};
</script>

<style></style>
