<template>
  <div style="width: 50%; display: flex; align-items: center; justify-content: center;
  background: #D1EEF0;
  flex-direction: column">
    <p >counter component</p>
    <div style=" height: 250px; display: flex;
    align-items: center; justify-content: center;">
    <div>
      <span>
      <button class= 'increment' @click="increment()">increment</button>
      </span>
    <span style="margin: 0 10px 0 10px">
      {{counter}}
      </span>
    <span>
      <button class= 'decrement' @click="decrement()">decrement</button>
      </span>
    <div v-if="showChild" style="margin-top: 50px;">
      <Child-comp @customEvent="myEvent"/>
    </div>
    </div>
  </div>
  </div>

</template>

<script>
import ChildComp from './ChildComp.vue';

export default {
  components: {
    ChildComp,
  },
  data() {
    return {
      counter: this.value,
      showChild: true,
    };
  },
  props: {
    value: {
      type: Number,
      default: 0,
    },
  },
  methods: {
    increment() {
      this.counter++;
    },
    decrement() {
      this.counter--;
    },
    myEvent() {
      this.showChild = !this.showChild;
    },
  },
};
</script>

<style>

</style>
